
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  line-height: 2;
}

img {
  max-width: 600px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 48px 24px;
}


/* header */

header {
  position: relative;
}

header .logo {
  text-align: center;
}

nav {
  max-width: 650px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
}


nav li {
  text-transform: uppercase;
}

nav a {
  color: black;
  letter-spacing: 1px;
}

nav li {
  margin: auto;
}

/* hero */

.hero {
  height: 600px;
  background: url('./static/IMG_1559.JPG') center center no-repeat;
  background-size: cover;
}

.opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* portfolio */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;

}

@media screen and (max-width: 900px) {

  .grid {
    grid-template-columns: 1fr;
  }

}

/* measurements */

.measurements {
  background-color: plum;
}

.measurements-wrapper {
  background-color: peachpuff;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding: 20px 30px;
}

/* about */


/* typography */

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

.p-large {
  font-size: 20px;
  line-height: 32px;
  max-width: 900px;
}
/* helpers */

.no-padding {
  padding: 0;
}