
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 48px 24px;
}

/* typography */

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
}


h1 {
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-size: 48px;
}

@media screen and (max-width: 650px) {

  section {
    padding: 24px 18px;
  }

  h1 {
    font-size: 44px;
    line-height: 44px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }
}

/* form-fields */

input, textarea {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 3px;
  height: 34px;
  border: 1px solid black;
}

input:focus {
  border: 1px solid plum;
  outline: 0;
}

label {
  position: absolute;
  top: 0;
  left: 0;
}

.field-wrapper {
  display: block;
  padding: 30px 0 8px 0;
  position: relative;
  max-width: 100%;
}


.form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  max-width: 800px;
  margin-bottom: 100px;
}

/* header */


header {
  position: relative;
  background: transparent;
  position: fixed;
  display: flex;
  align-content: center;
  width: 100%;
  color: #fff;
  height: 90px;
  padding: 10px 0;
}

header .container {
  display: flex;
  align-content: center;
}

header .header-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.logo a {
  color: #fff;
}

header h1 {
  margin: 0;
}

.scrolled {
  background: #fff;
  color: black;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.scrolled a {
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 600px;
  padding: 0;
}

nav li {
  text-transform: uppercase;
  margin: auto;
}

nav a {
  color: #fff;
  letter-spacing: 1px;
}

a:hover {
  color: plum;
  transition: 0.25s;
}

a {
  color: #E99AB7;
}

nav li {
  margin: auto;
}


@media screen and (max-width: 1060px) {

  header h1 {
    font-size: 44px;
  }

  nav {
    flex: 1;
  }
}

@media screen and (max-width: 900px) {

  header {
    height: 95px;
  }

  header .header-inner {
    flex-direction: column;
    justify-content: flex-start;
  }

  nav ul {
    justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {

  header {
    height: 80px;
  }

  .header-inner {
    padding: 0 10px;
  }

  nav, nav ul {
    width: 100%;
    font-size: 13px;
  }
}

/* hero */

.hero {
  height: 800px;
  background: url('./static/IMG_1559.JPG') center center no-repeat;
  background-size: cover;
}

.opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 900px) {
  
  .hero {
    height: 700px;
  }

}

@media screen and (max-width: 650px) {
  .hero {
    height: 600px;
  }
}

/* portfolio */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;

}

.grid img {
  max-height: 700px;
}

@media screen and (max-width: 900px) {

  .grid {
    grid-template-columns: 1fr;
  }

}

/* measurements */

.measurements {
  background-color:#E99AB7;
}

.measurements-wrapper {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  align-content: center;
}

.measurements-inner {
  background-color: peachpuff;
  padding: 30px 30px;
  height: 300px;
  width: 80%;
}

.measurements h2 {
  margin: 15px 0;
  line-height: 48px;
}

.measurements ul {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  margin: 0;
  padding: 0;
}

.measurements-row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  min-height: 760px;
}


@media screen and (max-width: 900px) {

  .measurements-row {
    grid-template-columns: 1fr;
    grid-gap: 0;
    min-height: auto;
  }

  .measurements img {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  
  .measurements-inner {
    width: 82%;
  }
}

/* about */

#about {
  background: lavenderblush;
}

/* contact */

#contact {
  margin-bottom: 60px;
}

/* typography */

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

.p-large {
  font-size: 20px;
  line-height: 32px;
  max-width: 900px;
}

/* helpers */

.no-padding {
  padding: 0;
}


@media screen and (max-width: 650px) {

  .p-large {
    font-size: 18px;
    line-height: 25px;
  }
}

